In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\rohit\appdata\local\programs\python\python313\lib\site-packages (9.1.0)

In [2]:
import mysql.connector




mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 port=3307,
 password="",


)


print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection.MySQLConnection object at 0x000001CFD2403E00>

In [3]:
# import libraries
import pandas as pd
import numpy as np

In [4]:
# csv to DataFrame
df_apsrtc = pd.read_csv("Z:\Redbus project\APSRTC (Andhra pradesh) bus details.csv")
df_ksrtc = pd.read_csv("Z:/Redbus project/KSRTC (Kerala) bus details.csv")
df_tsrtc = pd.read_csv("Z:/Redbus project/tsrtc (Telungana) bus details.csv")
df_ktcl = pd.read_csv("Z:/Redbus project/KTCL(goa) bus details.csv")
df_rsrtc = pd.read_csv("Z:/Redbus project/rsrtc(Rajasthan) bus details.csv")
df_sbstc = pd.read_csv("Z:/Redbus project/SBSTC(South Bengal) bus details.csv")
df_hrtc = pd.read_csv("Z:/Redbus project/HRTC(Haryana) bus details.csv")
df_upsrtc = pd.read_csv("Z:/Redbus project/UPSRTC(Uttar pradesh) bus details.csv")
df_pepsu = pd.read_csv("Z:/Redbus project/PEPSU(Punjab) bus details.csv")
df_bsrtc = pd.read_csv("Z:/Redbus project/BSRTC(Bihar) bus details.csv")

Final_df = pd.concat([df_apsrtc,df_tsrtc,df_ksrtc,df_ktcl,df_rsrtc,df_sbstc,df_hrtc,df_upsrtc,df_pepsu,df_bsrtc],ignore_index=True)
Final_df

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\rohit\AppData\Local\Temp\ipykernel_5916\725688522.py:2: SyntaxWarning: invalid escape sequence '\R'
  df_apsrtc = pd.read_csv("Z:\Redbus project\APSRTC (Andhra pradesh) bus details.csv")

,bus_route_name,bus_route_link,bus_name,bus_type,departing_time,duration,reaching_time,star_rating,price,seat_availability
0,Chittoor (Andhra Pradesh) to Bangalore Bus,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9061,Express(Non AC Seater),21:45,03h 25m,01:10,4.0,INR 170,NaN
1,Chittoor (Andhra Pradesh) to Bangalore Bus,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 5524,Express(Non AC Seater),22:45,04h 10m,02:55,4.1,INR 215,NaN
2,Chittoor (Andhra Pradesh) to Bangalore Bus,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9080,Express(Non AC Seater),23:15,03h 25m,02:40,4.6,INR 170,NaN
3,Chittoor (Andhra Pradesh) to Bangalore Bus,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 5528,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",23:59,05h 16m,05:15,4.3,INR 304,NaN
4,Chittoor (Andhra Pradesh) to Bangalore Bus,https://www.redbus.in/bus-tickets/chittoor-and...,NueGo,Electric A/C Seater (2+2),23:20,05h 25m,04:45,4.0,Starts from\nINR 330 314,NaN
...,...,...,...,...,...,...,...,...,...,...
7143,Ranchi to Hazaribagh Bus,https://www.redbus.in/bus-tickets/ranchi-to-ha...,Kaimur King,A/C Seater / Sleeper (2+1),20:15,03h 15m,23:30,1.8,Starts from\nINR 600,NaN
7144,Ranchi to Hazaribagh Bus,https://www.redbus.in/bus-tickets/ranchi-to-ha...,BD Parivahan,A/C Seater / Sleeper (2+2),21:00,02h 50m,23:50,1.5,Starts from\nINR 1000,NaN
7145,Ranchi to Hazaribagh Bus,https://www.redbus.in/bus-tickets/ranchi-to-ha...,Sri Krishna Rath,A/C Seater / Sleeper (2+2),22:00,01h 15m,23:15,1.6,Starts from\nINR 1050,NaN
7146,Ranchi to Hazaribagh Bus,https://www.redbus.in/bus-tickets/ranchi-to-ha...,Maharani Travels,NON A/C Seater / Sleeper (2+2),22:30,01h 35m,00:05,2.9,Starts from\nINR 600,NaN
7147,Ranchi to Hazaribagh Bus,https://www.redbus.in/bus-tickets/ranchi-to-ha...,Maharani Express,A/C Seater / Sleeper (2+2),23:45,01h 30m,01:15,2.3,Starts from\nINR 650,NaN

In [5]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7148 entries, 0 to 7147
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bus_route_name     7148 non-null   object
 1   bus_route_link     7148 non-null   object
 2   bus_name           7148 non-null   object
 3   bus_type           7148 non-null   object
 4   departing_time     7148 non-null   object
 5   duration           7148 non-null   object
 6   reaching_time      7148 non-null   object
 7   star_rating        7038 non-null   float64
 8   price              7148 non-null   object
 9   seat_availability  669 non-null    object
dtypes: float64(1), object(9)
memory usage: 558.6+ KB

In [6]:
# convert the price to numreic
Final_df["price"] = Final_df["price"].str.replace("INR", "").str.replace(",", "").str.strip()
Final_df["price"] = pd.to_numeric(Final_df["price"], errors='coerce')
Final_df["price"].fillna(0, inplace=True)

C:\Users\rohit\AppData\Local\Temp\ipykernel_5916\4244904350.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["price"].fillna(0, inplace=True)

In [7]:
if Final_df["star_rating"].dtype != "object":
    Final_df["star_rating"] = Final_df["star_rating"].astype(str)
Final_df["star_rating"] = Final_df["star_rating"].str.replace("New", "")
Final_df["star_rating"] = Final_df["star_rating"].str.strip()
Final_df["star_rating"] = Final_df["star_rating"].str.split().str[0]
Final_df["star_rating"] = pd.to_numeric(Final_df["star_rating"], errors='coerce')
Final_df["star_rating"].fillna(0, inplace=True)

C:\Users\rohit\AppData\Local\Temp\ipykernel_5916\230957933.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["star_rating"].fillna(0, inplace=True)

In [8]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7148 entries, 0 to 7147
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bus_route_name     7148 non-null   object
 1   bus_route_link     7148 non-null   object
 2   bus_name           7148 non-null   object
 3   bus_type           7148 non-null   object
 4   departing_time     7148 non-null   object
 5   duration           7148 non-null   object
 6   reaching_time      7148 non-null   object
 7   star_rating        7148 non-null   float64
 8   price              7148 non-null   float64
 9   seat_availability  669 non-null    object
dtypes: float64(2), object(8)
memory usage: 558.6+ KB

In [9]:
# replace the nan value
Final_df = Final_df.replace(np.nan, None)

In [10]:
Final_df['seat_availability'] = Final_df['seat_availability'].fillna('Unknown')
Final_df

,bus_route_name,bus_route_link,bus_name,bus_type,departing_time,duration,reaching_time,star_rating,price,seat_availability
0,Chittoor (Andhra Pradesh) to Bangalore Bus,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9061,Express(Non AC Seater),21:45,03h 25m,01:10,4.0,170.0,Unknown
1,Chittoor (Andhra Pradesh) to Bangalore Bus,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 5524,Express(Non AC Seater),22:45,04h 10m,02:55,4.1,215.0,Unknown
2,Chittoor (Andhra Pradesh) to Bangalore Bus,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9080,Express(Non AC Seater),23:15,03h 25m,02:40,4.6,170.0,Unknown
3,Chittoor (Andhra Pradesh) to Bangalore Bus,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 5528,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",23:59,05h 16m,05:15,4.3,304.0,Unknown
4,Chittoor (Andhra Pradesh) to Bangalore Bus,https://www.redbus.in/bus-tickets/chittoor-and...,NueGo,Electric A/C Seater (2+2),23:20,05h 25m,04:45,4.0,0.0,Unknown
...,...,...,...,...,...,...,...,...,...,...
7143,Ranchi to Hazaribagh Bus,https://www.redbus.in/bus-tickets/ranchi-to-ha...,Kaimur King,A/C Seater / Sleeper (2+1),20:15,03h 15m,23:30,1.8,0.0,Unknown
7144,Ranchi to Hazaribagh Bus,https://www.redbus.in/bus-tickets/ranchi-to-ha...,BD Parivahan,A/C Seater / Sleeper (2+2),21:00,02h 50m,23:50,1.5,0.0,Unknown
7145,Ranchi to Hazaribagh Bus,https://www.redbus.in/bus-tickets/ranchi-to-ha...,Sri Krishna Rath,A/C Seater / Sleeper (2+2),22:00,01h 15m,23:15,1.6,0.0,Unknown
7146,Ranchi to Hazaribagh Bus,https://www.redbus.in/bus-tickets/ranchi-to-ha...,Maharani Travels,NON A/C Seater / Sleeper (2+2),22:30,01h 35m,00:05,2.9,0.0,Unknown
7147,Ranchi to Hazaribagh Bus,https://www.redbus.in/bus-tickets/ranchi-to-ha...,Maharani Express,A/C Seater / Sleeper (2+2),23:45,01h 30m,01:15,2.3,0.0,Unknown

In [11]:
import mysql.connector




mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 port=3307,
 password="",


)
if mydb:
    print("Connected to Mysql Server")

    my_cursor = mydb.cursor()

     # Create the database if it does not exist
    my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")
    mydb.database = "RED_BUS_DETAILS"

    print("Database created successfully or already exists")
    
else:
    print("error while connection")
print(mydb)
mycursor = mydb.cursor(buffered=True)


print(mydb)
mycursor = mydb.cursor(buffered=True)

Connected to Mysql Server
Database created successfully or already exists
<mysql.connector.connection.MySQLConnection object at 0x000001CFD23CA710>
<mysql.connector.connection.MySQLConnection object at 0x000001CFD23CA710>

In [12]:
# Table creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  bus_route_name VARCHAR(255) NOT NULL,
                  bus_route_link VARCHAR(255) NOT NULL,
                  bus_name VARCHAR(255) NOT NULL,
                  bus_type VARCHAR(255)NOT NULL,
                  departing_time VARCHAR(255)NOT NULL,
                  duration VARCHAR(255)NOT NULL,
                  reaching_time VARCHAR(255)NOT NULL,
                  star_rating VARCHAR(255)NOT NULL,
                  price FLOAT NULL,
                  seat_availability VARCHAR(255)NOT NULL
                  )''')
print("Table created successfully")

Table created successfully

In [13]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    bus_route_name,
                    bus_route_link,
                    bus_name,
                    bus_type,
                    departing_time,
                    duration,
                    reaching_time,
                    star_rating,
                    price,
                    seat_availability)
                   VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query,data)

mydb.commit()

print("Values inserted sucessfully")

Values inserted sucessfully